<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/fontawesome-all.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/product.js"></script>
    <script src="/js/admin.js"></script>


    <title>Shopping Cart</title>
</head>

<body>

    <!-- MODAL WINDOW -->
    <div class="modal fade" id="myCart" role="dialog">
        <div class="modal-dialog modal-lg">
            <!--Modal Content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Products Summary</h4>
                </div>
                <div class="modal-body">
                    <!--To be filled by using javascript or jquery-->
                    <table id="products" class="table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Subtotal</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="items">
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="panel-group"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="container">
        <div class="row">

            <!--Add Left sidebar-->
            <div class="col-lg-2"></div>

            <!--Add Product to the database -->
            <div class="col-lg-8">
                <form id="productForm" enctype="multipart/form-data" name="productForm" action='../products'
                    method="POST">
                    <div class="form-group">
                        <label for="product-name">Product Name</label>
                        <input type="text" id="product-name" placeholder="Name" class="form-control" name="name">
                        <label for="product-price">Product Price</label>
                        <input type="number" id="product-price" placeholder="10000" class="form-control" name="price">


                        <label for="product-description">Product Description</label>
                        <input type="text" id="product-description" placeholder="desription ..." class="form-control"
                            name="description">



                        <label for="product-category">Product Category</label>

                        <input type="text" id="product-category" placeholder="furniture..." class="form-control"
                            name="category_id">




                        <label for="product-quantity">Product Quantity</label>
                        <input type="number" id="product-quantity" placeholder="10" class="form-control"
                            name="quantity">



                        <label for="product-image">Product Image</label>

                        <input type="file" id="product-image" name="image">
                    </div>
                    <div class="row">
                        <input id="submit-product" type="submit" value="Submit" class="btn btn-success col-lg-6">
                        <input type="reset" value="Reset" class="btn btn-danger col-lg-6">
                    </div>
                </form>
            </div>
            <!--Main product display layout-->
            <div class="col-lg-2">
            </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row">
                <h4>Product</h4>
                <div id="product-table-display">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="product-table-row">
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="flash-message">

            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <!-- Footer -->
    <footer></footer>
</body>

</html>