<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/fontawesome-all.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/product.js"></script>
    <script src="/js/script.js"></script>


    <title>Shopping Cart</title>
</head>

<body>

    <!-- MODAL WINDOW -->
    <div class="modal fade" id="myCart" role="dialog">
        <div class="modal-dialog modal-lg">
            <!--Modal Content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Products Summary</h4>
                </div>
                <div class="modal-body">
                    <!--To be filled by using javascript or jquery-->
                    <table id="products" class="table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Description</th>
                                <th>Subtotal</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="items">
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="panel-group"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal">Close</button>

                    <button type=" button" class="pull-left btn btn-default" id="btn-save"
                        onclick="saveToServer()">Save</button>
                    <button type="button" class="btn btn-default " id="btn-checkout"
                        onclick="checkOut()">Checkout</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <!--Add Left sidebar-->
            <div class="col-lg-2"></div>

            <!--Main product display layout-->
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <h2 class="h2 text-center">{{user.username}}</h2>
                        {{#if msg}}
                        <p>{{ msg }}</p>
                        {{/if}}
                        {{#if user.photo}}
                        <img src="/uploads/users/{{user.photo}}" width="100px" height="100px" />
                        <p>Update your photo</p>
                        <form method="post" enctype="multipart/form-data" action="/dashboard">
                            <input type="file" name="photo" id="photo">
                            <input type="submit" name="submit" value="Submit" id="uploadImage">
                        </form>
                        {{else}}
                        <p>Upload a photo of yours...</p>
                        <form method="post" enctype="multipart/form-data" action="/dashboard">
                            <input type="file" name="photo" id="photo">
                            <input type="submit" name="submit" value="Submit" id="uploadImage">
                        </form>
                        {{/if}}

                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
            <!-- Add right sidebar -->
            <div class="col-lg-2"></div>
        </div>
    </div>
    <footer></footer>
</body>

</html>