<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/fontawesome-all.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/product.js"></script>
    <script src="/js/script.js"></script>

    <title>Shopping Cart</title>
</head>

<body>

    <!-- MODAL WINDOW -->
    <div class="modal fade" id="myCart" role="dialog">
        <div class="modal-dialog modal-lg">
            <!--Modal Content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Products Summary</h4>
                </div>
                <div class="modal-body">
                    <!--To be filled by using javascript or jquery-->
                    <table id="products" class="table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Subtotal</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="items">
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="panel-group"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal">Close</button>
                    <button type="button" class="pull-left btn btn-default" id="btn-save"
                        onclick="saveToServer()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <!--Add Left sidebar-->
            <div class="col-lg-2"></div>

            <!--Main product display layout-->
            <div class="col-lg-8">
                <div id="signup-form" class="row">
                    <h2 class="h2 text-center">Login</h2>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <form action="/login" method="post">
                            <div class="form-group">
                                <label for="user-username">Username</label>
                                <input class="form-control" type="text" placeholder="Enter Username" name="username"
                                    id="user-username">
                                <label for="user-password">Password</label>
                                <input class="form-control" type="password" placeholder="Enter password secretly"
                                    name="password" id="user-password">

                                <div class="row form-button">
                                    <div class="col-lg-1"></div>
                                    <input type="submit" value="Submit" id="user-submit"
                                        class="btn btn-success col-lg-5">
                                    <input type="reset" value="Reset" id="user-reset" class="btn btn-danger col-lg-5">
                                    <div class="col-lg-1"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
            <!-- Add right sidebar -->
            <div class="col-lg-2"></div>
        </div>
    </div>
    <footer></footer>
</body>

</html>