* {
  margin: 0;
  padding: 0;
  color: #fff;
}
body {
  width: 100%;
  height: 100vh;

  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}
.navbar {
  border: 0;
}
.modal-content {
  color: #fff;
  background: rgba(
    255,
    255,
    255,
    0.2
  ) !important; /* Give transparent white background to navbar */
  /* 0.2 to give little whitish effect. */
  /* Put 0 to get complete transperency */
  z-index: 2;
  backdrop-filter: blur(10px) saturate(125%); /* Blur the background */
  /* 10px Gaussian Blur and saturate for fluent design */
  -webkit-backdrop-filter: blur(10px) saturate(125%); /* Increases browser compability (safari ios and mac) */
}
.close {
  color: #fff;
  opacity: 1;
}
.form-control {
  color: #fff;
  background: rgba(
    255,
    255,
    255,
    0.2
  ) !important; /* Give transparent white background to navbar */
  /* 0.2 to give little whitish effect. */
  /* Put 0 to get complete transperency */
  z-index: 2;
  backdrop-filter: blur(10px) saturate(125%); /* Blur the background */
  /* 10px Gaussian Blur and saturate for fluent design */
  -webkit-backdrop-filter: blur(10px) saturate(125%); /* Increases browser compability (safari ios and mac) */
}
#signup-form {
  color: #fff;
}

#header {
  background: rgba(
    255,
    255,
    255,
    0.2
  ) !important; /* Give transparent white background to navbar */
  /* 0.2 to give little whitish effect. */
  /* Put 0 to get complete transperency */
  z-index: 2;
  backdrop-filter: blur(10px) saturate(125%); /* Blur the background */
  /* 10px Gaussian Blur and saturate for fluent design */
  -webkit-backdrop-filter: blur(10px) saturate(125%); /* Increases browser compability (safari ios and mac) */
}

#header a {
  color: #fff;
}

#header a:hover {
  color: #333;
}

#accordion .panel-primary > .panel-heading {
  color: #333;
  background-color: #00cc99;
  display: block;
  text-decoration: none;
}

#accordion .panel-primary > .panel-heading a:hover {
  text-decoration-line: none;
}

#accordion .panel-primary > .panel-heading a:after {
  content: "";
  position: relative;
  font-family: "Glyphicons Halflings";
  float: right;
}

#product-display {
  margin: 32px;
  padding: 2px;
}

#description > ul > li {
  list-style: none;
}
.panel-heading {
  text-transform: capitalize;
}
.deleteItem {
  cursor: pointer;
}
#buy + div {
  margin-top: 15px;
  margin-bottom: 10px;
}
.panel {
  color: #fff;
  height: 400px;
  background: rgba(
    255,
    255,
    255,
    0.2
  ) !important; /* Give transparent white background to navbar */
  /* 0.2 to give little whitish effect. */
  /* Put 0 to get complete transperency */
  z-index: 2;
  backdrop-filter: blur(10px) saturate(125%); /* Blur the background */
  /* 10px Gaussian Blur and saturate for fluent design */
  -webkit-backdrop-filter: blur(10px) saturate(125%); /* Increases browser compability (safari ios and mac) */
}
#cart-table-total {
  text-align: right;
  padding-right: 55px;
  font-weight: bold;
}

.form-button {
  margin: 20px;
  padding: 10px;
}

.product_img {
  width: 100%;
  height: 200px;
}
.addCartBtn {
  margin: 20px auto;
}
#btn-checkout {
  margin: auto 50px;
}
